# Core Data Handling
pandas
numpy

# Text Processing / NLP
nltk
scikit-learn
gensim
spacy
textblob

# Deep Learning / DL Models
tensorflow
keras
torch
torchvision

# Generative AI / Summarization / QnA
transformers
sentence-transformers
faiss-cpu

# Web / Dashboard
streamlit

# Visualization
matplotlib
seaborn
plotly
wordcloud